[package]
name = "helium-api"
version = "0.2.0"
authors = ["Marc Nijdam <marc@helium.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
reqwest = "~0.9"
serde =  "1"
serde_derive = "1"
serde_json = "1"
base64 = "0"
rust_decimal = "1"
helium-proto = { git = "https://github.com/helium/proto" }
